body {
  background-color: aquamarine;
}

.welcome {
  text-align: center;
}

.logout {
  float: right;
  border: none;
  background: none;
  margin: auto;
}

.navbar {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: blue;
}